    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>My name is Silas Hughes and I design, build, and pilot robots. </p>
                <p>I provide researchers and companies with tools, services and expertise to fully utilize robotic platforms in their work. I work throughout the Greater Boston area, and I am alway interested in meeting with people interested in this field.</p>
                <p>I have an BS in Mechanical Engineering from Olin College; since graduating in 2014, I have developed multiple custom drone and robotic platforms for researchers, pushed the limits of functional and composite 3D printing in vehicle and chassis design, and piloted drones for demonstrations, testing, and data collections. </p>
                <br/>
              </div>
        </div>
    </section>
