 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><b>I design, build, and pilot robots.</b> I provide researchers and companies with tools, services and expertise to fully utilize robotic platforms in their work. I have an undergraduate degree in mechanical engineering from Olin College; since graduating in 2014 I have developed multiple custom drone platforms for researchers, pushed the limits of structural 3D printing by designing vehicle components and entire chassis, and piloted drones for demonstrations and testing (i.e. safety piloting).</p>
                </div>
                <div class="col-lg-4">
                    <p><b>I can work with teams to design and prototype custom robotic systems, provide a wide range of functional vehicles as ready to run research platforms, and  remotely pilot vehicles for tests and demonstrations.</b> I love making things, it's even better when it helps others get where they are trying to go and doubly so if I get to do it alongside them. If you have any questions about the work you see on this page or want a resume, please contact me. I can provide references upon request.</p>
                </div>
                <!-- I took out this download button. Don't know what I'd want downloadable
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
              -->
            </div>
        </div>
    </section>
